#about{
    padding: 70px;
}
.abt-container{
    width: 60%;
    margin: auto;
}
.abt-container p{
    margin-top: initial;
    text-align: initial;
    /* text-align: center; */
    margin-bottom: 20px;
}

@media only screen 
and (max-width:480px){
    .abt-container{
        width: 130%;
        margin-left: -30px;
    }
}
@media only screen 
and (max-width: 480px){
    .abt-container{
        width: 105% ;
        margin-left: initial;
    }
}
@media only screen 
and (width:320px){
    .abt-container{
        width: 145%;
        margin-left: -35px;
    }
}