#agb{
    width: 100%;
    height: inherit;
    /* background-color: black; */
    margin-top: 100px;
}
.agb_container{
    width: 99%;
    height: 60vh;
    /* background: red; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.agb_container div{
    /* margin-right: 20px;
    margin-bottom: 30px; */
    width: 90%;
    height: 90%;
    background: orange;
    transition: transform .2 ease;
}
.agb_container div:hover{
    transform: scale(1.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.agb_container div:nth-child(1){
    background-image:url(../images/Agbada/face.jpg) ;
    background-size: 125%;
}
.agb_container div:nth-child(2){
    background-image:url(../images/Agbada/a1.jpg) ;
    background-size: 100%;
}.agb_container div:nth-child(3){
    background-image:url(../images/Agbada/a2.jpg) ;
    background-size: 125%;
}.agb_container div:nth-child(4){
    background-image:url(../images/Agbada/a3.jpg) ;
    background-size: 100%;
}
@media only screen 
and (max-width:480px){
    .agb_container{
        grid-template-columns: repeat(1, 1fr);        
        height: 250vh;
        width: 90%;
        margin-left: 35px;
        padding-top: 10px;
    }

}
@media only screen 
and (max-width: 480px){
    .agb_container{
        margin-left: 36px;
    }
}
@media only screen 
and (width:320px){
    .agb_container{
        width: 85%;
    }
    .agb_container div{
        margin-left: -10px;
    }
}
@media only screen 
and (min-width:416px) and (max-width:1024px){
    .agb_container{
        grid-template-columns: repeat(2, 1fr);
        height: 88vh;
        padding-left: 35px ;
    }

}
@media only screen 
and (width:540px){
    .agb_container{
        height: 86vh;
    }
}